body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f5f5f5;
  margin: 0;
}

.cover {
  padding: 120px 20px;
  background: #c59d5f;
  color: white;
}

button {
  padding: 12px 20px;
  border: none;
  background: white;
  color: #c59d5f;
  font-size: 16px;
  border-radius: 5px;
}

.isi {
  display: none;
  padding: 40px 20px;
}